{% load staticfiles %}

        <div class="banner">
			<div class="container">
				<div class="header">
					<div class="logo">
						<h1><a href="/">Food-Mania</a></h1>
					</div>
					<div class="top-nav">
						<nav class="navbar navbar-default">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu
								</button>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a class="active" href="{% url 'hotel:index' %}">Home</a></li>

									<li><a href="{% url 'hotel:menu' %}">Menu</a></li>
									{% if user.is_authenticated %}
										{% if user.is_superuser %}
										<li><a href="{% url 'hotel:dashboard_admin' %}">Dashboard</a></li>
										{% else %}
										<li><a href="{% url 'hotel:my_orders' %}">user Dashboard</a></li>
										{% endif %}
									<li><a href="/accounts/logout/">Logout</a></li>
									{% else %}
									<li><a href="/accounts/login/">Login</a></li>
									{% endif %}
									<div class="clearfix"> </div>
								</ul>
							</div>
						</nav>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="banner-info">
					<!-- <h2>Tasty food served at your doorstep</h2> -->
					<!-- <p>Experience the fastest delivery. Order now and get your food at your doorstep in 30 minutes!</p> -->
				</div>
				<div class="banner-grads">
					<div class="col-md-3 banner-grad">
						<a href="http://localhost:8000/menu?cuisine=pizza">
							<div class="banner-grad-img">
								<img src="{% static 'images/Pizza1.jpg' %}" alt="" height="193px" />
								<h4>Pizza</h4>
							</div>
						</a>
					</div>
					<div class="col-md-3 banner-grad">
						<a href="http://localhost:8000/menu?cuisine=Burgers">
							<div class="banner-grad-img">
								<img src="{% static 'images/burger.jpg' %}" alt="" width="350px" height="193px"/>
								<h4>Burgers</h4>
							</div>
						</a>
					</div>
					<div class="col-md-3 banner-grad">
						<a href="http://localhost:8000/menu?cuisine=rolls">
							<div class="banner-grad-img">
								<img src="{% static 'images/chikkenroll.jpg' %}" alt="" height="193px" />
								<h4>Rolls</h4>
							</div>
						</a>
					</div>
					<div class="col-md-3 banner-grad">
						<a href="http://localhost:8000/menu?cuisine=Noodels">
							<div class="banner-grad-img">
								<img src="{% static 'images/veg haka.jpg' %}" alt="" height="193px" />
								<h4>Noodels</h4>
							</div>
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>